<!DOCTYPE html>
<html>

<head>
    <%- include('./head') %>
</head>

<body>
    <div class="wrap">
        <header>
            <%- include('./header') %>
        </header>
        <section class="lists-wrap">
            <%- include('./section') %>
        </section>
        <div class="text-inputbox">
            <form class="add" action="/create" method="POST">
                <input name="list" type="text">
                <div class='btns'>
                    <button type="submit" class="add-btn">Add</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>